//This is a sample file for the Credentials
#include <Arduino.h> //Include Arduino Headers

// Updated because leak in 08 nov 2025.
// Replace with your network credentials
const char* ssid     = "YOUR_WIFI_NETWORK_NAME";
const char* password = "YOUR_WIFI_PASSWORD";

// REPLACE with your Domain name and URL path or IP address with path - arquivo que posta o código no serv MySQL
//OK//const char* serverName = "https://ilha3d.com/temp01/post-esp-data.php";
const char* serverName = "https://www.yourwebsite.com/post-data.php";

// Keep this API Key value to be compatible with the PHP code provided in the project page. 
// If you change the apiKeyValue value, the PHP file /post-esp-data.php also needs to have the same key 
// You can use an apiKey online generator to generate de key
String apiKeyValue = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx";

//Change the sensor name and location
String sensorName = "SENSOR_NAME";
String sensorLocation = "SENSOR_LOCATION";